.mainFormNosotros {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    box-shadow: 10px 10px 40px -14px #0e805d;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center
}